@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #57585A;
    font-weight: 400;
}

a {
    transition: all 0.3s ease-in-out;
}


.header-site {
    z-index: 999;
}

.header-menu a:hover {
    color: var(--color-tertiary);
    background-color: var(--color-grey);
}

.header-site .menu-mobile {
    min-height: calc(100dvh - 48px);
    background-color: var(--color-grey);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all .3s ease;
}

.header-site .menu-mobile.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-toggle {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.menu-toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color-primary);
    transition: .3s ease;
}

.menu-toggle span:nth-child(1) {
    top: 3px;
}

.menu-toggle span:nth-child(2) {
    top: 11px;
}

.menu-toggle span:nth-child(3) {
    top: 19px;
}

.menu-toggle.active span:nth-child(1) {
    top: 11px;
    transform: rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    top: 11px;
    transform: rotate(-45deg);
}


.hero-side__floating.is-fixed {
    position: fixed;
    top: 88px;
    left: 217px;
}

.timeline__year {
    left: 31px;
}

.timeline__year.is-fixed {
    position: fixed;
    top: 88px;
}



.timeline__year.is-stop {
    top: 88px;
    left: 0;
}

@media(max-width:1024px) {

    .hero-side__floating.is-fixed,
    .timeline__year.is-stop,
    .timeline__year.is-fixed {
        top: 82px;
    }
}


@media(max-width:767px) {
    .hero-side__floating.is-fixed {
        top: 72px;
        left: auto;
        right: 20px;
    }

    .timeline__year {
        left: 14px;
    }

    .timeline__year.is-stop,
    .timeline__year.is-fixed {
        top: 72px;
    }

    .timeline__year.is-stop {
        left: 14px;
    }
}